html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* header stuff */

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div{ 
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold; 


    margin-left: 150px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    display: block;
    height: 50px;
    line-height: 50px;

    padding-left: 8px;
    padding-right: 8px;

    border-radius: 8px;
}

.header a:hover {
    background-color: slategray;
}

.header ul {
    display: flex;
    margin: 0 150px 0 0;
}

.header .header-items {
    flex: 0 0 auto;
}

/* hero stuff */

.hero {
    display: flex;
    padding: 150px 150px 0 150px;
    background-color: #1f2937;

}

.hero-div-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.hdl-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-shrink: 0;
}

.hdl-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-div-right {
    width: 50%;
}

.hdl-button {
    border: none;

    width: 100px;
    height: 30px;
    margin: 0 0 8px 0;
    background-color: #3882F6;
    color: #f9faf8;

    font-weight: bold;
    font-size: 14px;

    border-radius: 6px;
}