html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* header stuff */

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

.header {
    background-color: #1f2937;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;

    padding: 0 150px;
}

.header div{ 
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold; 
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    padding: 0 8px;
}

.header a:hover {
    background-color: slategray;
}

.header ul {
    display: flex;
    gap: 8px;
}

.header .header-items {
    flex: 0 0 auto;
}

/* hero stuff */

.hero {
    display: flex;
    justify-content: center;

    padding: 150px 150px 150px 150px;
    background-color: #1f2937;

    gap: 16px;
}

.hero-div-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    min-width: 450px;
}


.hdl-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-shrink: 0;
    max-width: 450px;
}

.hdl-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-div-right {
    width: 50%;
    min-width: 450px;
    max-height: 253.125px;
    text-align: center;

    background-color: #1f2937;
}

.hdl-button {
    border: none;

    width: 100px;
    min-height: 30px;
    margin: 0 0 8px 0;
    background-color: #3882F6;
    color: #f9faf8;

    font-weight: bold;
    font-size: 14px;

    border-radius: 6px;
}

/* random information stuff */

.random-information{
    display: flex;
    flex-direction: column;
    padding-bottom: 125px;
    padding-top: 25px;
}

.ri-top{
    display: flex;
    justify-content: center;
    align-items: center;

    /* this stops the text from breaking onto a new line*/
    white-space: nowrap;

    height: 125px;
    padding: 0px; 
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937  ;
}

.ri-bottom{
    display: flex;
    justify-content: center;
    gap: 50px;

    padding-left: 150px;
    padding-right: 150px;
}

.card{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.card-image{
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
}

.card-subtext{
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: #1f2937;
}

/* quote section stuff */

.quote-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 800px;
    font-size: 36px;
    color: #1f2937;
    font-weight:lighter;
    font-style: italic;

}

.quote-author {
    width: 800px;
    display: flex;
    justify-content: end;

    color: #1f2937;
    font-weight: bolder;
}


/* sign up section */

.sign-up-section {
    display: flex;
    padding: 100px 150px;
    background-color: #f9faf8;
    justify-content: center;

}

.sign-up-section-block {
    background-color: #3882F6;
    max-width: 700px;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    border-radius: 8px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sign-up-text-main {
    color: #E5E7EB;
    font-size: 24px;
    font: bolder;
}

.sign-up-text-secondary {
    color: #E5E7EB;
    font-size: 14px;
    font: lighter;
}

.sign-up-button {
    border-style: solid;
    border-color: #E5E7EB;
    width: 100px;
    min-height: 30px;
    max-height: 30px;
    margin: 0 0 8px 0;
    background-color: #3882F6;
    color: #f9faf8;

    font-weight: bold;
    font-size: 14px;

    border-radius: 6px;
}

.footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 12px;
}