html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* header stuff */

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

.header {
    background-color: #1f2937;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;

    padding: 0 150px;
}

.header div{ 
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold; 
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    padding: 0 8px;
}

.header a:hover {
    background-color: slategray;
}

.header ul {
    display: flex;
    gap: 8px;
}

.header .header-items {
    flex: 0 0 auto;
}

/* hero stuff */

.hero {
    display: flex;
    justify-content: center;

    padding: 150px 150px 150px 150px;
    background-color: #1f2937;

    gap: 16px;
}

.hero-div-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    min-width: 450px;
}


.hdl-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-shrink: 0;
    max-width: 450px;
}

.hdl-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-div-right {
    width: 50%;
    min-width: 450px;
    max-height: 253.125px;
    text-align: center;

    background-color: #1f2937;
}

.hdl-button {
    border: none;

    width: 100px;
    min-height: 30px;
    margin: 0 0 8px 0;
    background-color: #3882F6;
    color: #f9faf8;

    font-weight: bold;
    font-size: 14px;

    border-radius: 6px;
}

/* random information stuff */

.random-information{

}

.ri-top{

}

.ri-bottom{

}

.card{

}

.card-image{

}

.card-subtext{
    
}